streamlit==1.40.0
pandas==2.2.2
numpy==1.26.4
plotly==5.24.1
regex==2024.5.15
spacy>=3.7.0,<3.8.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
